---
- name: Install Hyprland and essential packages
  community.general.pacman:
    name:
      - hyprland
      - hyprlock
      - waybar
      - wofi
      - xdg-utils
      - ly
      - polkit-gnome
    state: present
    update_cache: yes
  become: true

- name: Stop and disable SDDM service if present
  ansible.builtin.systemd:
    name: sddm
    enabled: no
    state: stopped
  become: true
  ignore_errors: yes

- name: Uninstall SDDM
  community.general.pacman:
    name: sddm
    state: absent
  become: true
  ignore_errors: yes

- name: Stop and disable greetd service if present
  ansible.builtin.systemd:
    name: greetd
    enabled: no
    state: stopped
  become: true
  ignore_errors: yes

- name: Uninstall greetd
  community.general.pacman:
    name: greetd
    state: absent
  become: true
  ignore_errors: yes

- name: Enable ly service
  ansible.builtin.systemd:
    name: ly@tty2
    enabled: yes
  become: true

- name: Set systemd default to graphical.target
  ansible.builtin.command: systemctl set-default graphical.target
  become: true
