---
- name: Install Hyprland and essential packages
  community.general.pacman:
    name:
      - hyprland
      - hyprlock
      - waybar
      - wofi
      - xdg-utils
      - greetd
      - polkit-gnome
    state: present
    update_cache: yes
  become: true

- name: Disable SDDM service if enabled
  ansible.builtin.systemd:
    name: sddm
    enabled: no
    state: stopped
  become: true

- name: Ensure /etc/greetd/directory exists
  ansible.builtin.file:
    path: /etc/greetd
    state: directory
    mode: '0755'
  become: true

- name: Create or overwrite greetd config.toml
  ansible.builtin.copy:
    content: |
      [terminal]
      vt = 1
      [default_session]
      command = "Hyprland < /dev/null"
      user = "{{ ansible_user }}"
    dest: /etc/greetd/config.toml
    owner: root
    group: root
    mode: '0644'
  become: true

- name: Enable greetd service
  ansible.builtin.systemd:
    name: greetd
    enabled: yes
    state: started
  become: true

- name: Set systemd default to graphical.target
  ansible.builtin.command: systemctl set-default graphical.target
  become: true

