---
- name: Install Hyprland and essential packages
  community.general.pacman:
    name:
      - hyprland
      - hyprlock
      - waybar
      - wofi
      - xdg-utils
      - ly
      - polkit-gnome
    state: present
    update_cache: yes
  become: true

- name: Check if SDDM service exists
  ansible.builtin.command: systemctl list-unit-files sddm.service
  register: sddm_check
  changed_when: false
  failed_when: false
  become: true

- name: Stop and disable SDDM service if present
  ansible.builtin.systemd:
    name: sddm
    enabled: no
    state: stopped
  become: true
  when: sddm_check.rc == 0 and 'sddm.service' in sddm_check.stdout

- name: Uninstall SDDM
  community.general.pacman:
    name: sddm
    state: absent
  become: true
  ignore_errors: yes

- name: Check if greetd service exists
  ansible.builtin.command: systemctl list-unit-files greetd.service
  register: greetd_check
  changed_when: false
  failed_when: false
  become: true

- name: Stop and disable greetd service if present
  ansible.builtin.systemd:
    name: greetd
    enabled: no
    state: stopped
  become: true
  when: greetd_check.rc == 0 and 'greetd.service' in greetd_check.stdout

- name: Uninstall greetd
  community.general.pacman:
    name: greetd
    state: absent
  become: true
  ignore_errors: yes

- name: Enable ly service
  ansible.builtin.systemd:
    name: ly@tty2
    enabled: yes
  become: true

- name: Set systemd default to graphical.target
  ansible.builtin.command: systemctl set-default graphical.target
  become: true
