---
- name: Install docker (Arch)
  become: true
  community.general.pacman:
    name: docker
    state: present
  when: ansible_facts['os_family'] == "Archlinux"

- name: Enable and start docker service (Arch)
  become: true
  ansible.builtin.systemd:
    name: docker
    enabled: yes
    state: started
  when: ansible_facts['os_family'] == "Archlinux"

- name: Add user to docker group (Arch)
  become: true
  ansible.builtin.user:
    name: "{{ ansible_facts['user_id'] }}"
    groups: docker
    append: yes
  when: ansible_facts['os_family'] == "Archlinux"

- name: Install Docker Desktop (macOS)
  community.general.homebrew_cask:
    name: docker
    state: present
  when: ansible_facts['os_family'] == "Darwin"
  tags: never