---
- name: Install neovim (macOS)
  community.general.homebrew:
    name: neovim
    state: present
  when: ansible_facts['os_family'] == "Darwin"

- name: Install neovim (Arch Linux)
  community.general.pacman:
    name: neovim
    state: present
  become: true
  when: ansible_facts['os_family'] == "Archlinux"
